html {
    font-size: 14px;
}

/* common */

body {
    font-family: 'Raleway', sans-serif;
}

.dropdown-menu {
    border-color: #efefef;
}

@media(min-width: 767px) {
    .dropdown-toggle-hover:hover .dropdown-menu {
        display: block;
    }
}

a {
    color: inherit;
}

a:focus {
    color: #1abc9c;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary {
    background-color: #1abc9c;
    color: #fff;
}

/* utilities */ 
.mb0 {
    margin-bottom: 0 !important;
}

/* header + nav */

.navbar {
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 1px;
}

.nav>li.navbar-icons {
    display: flex;
    border-left: 1px solid #efefef;
    padding: 0 0 0 10px;
}

.navbar-brand {
    padding: 40px 30px 40px 15px;
    font-size: 26px;
    border-right: 1px solid #efefef;
    height: auto;
    font-weight: 700;
}

.navbar-nav>li>a {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #1abc9c;
}

.navbar-nav .dropdown-menu {
    font-size: 12px;
}

.navbar-nav .dropdown-menu > li > a {
    padding: 10px 20px;
}

.header-jumbotron h4 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 0;
}

.header-jumbotron h4 + p {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: lighter;
    color: #777;
}

.header-jumbotron .breadcrumb {
    font-size: 11px;
    background-color: transparent;
    margin-top: 14px;
    margin-bottom: 14px;
}

/* main content */

.highlights, .steps-wr,
.content-area {
    padding: 50px 0;
}

.highlights h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 26px;
}

.sub-heading {
    font-weight: lighter;
    color: #777;
    margin-bottom: 20px;
}

.steps-wr {
    background-color: #f9f9f9;
}

.steps-wr h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.steps-wr .img-responsive {
    margin: auto;
    margin-bottom: 50px;
}

.steps-wr .lead {
    font-weight: lighter;
    margin-top: 0;
}

.shadow-border {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.shadow-border:after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0px;
    left: 0;
    border-bottom: 2px solid #1abc9c;
}

.steps-wr .shadow-border:after {
    left: 50%;
    transform: translate(-50%)
}

.step {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.step .num {
    font-size: 48px;
    color: #1abc9c;
    line-height: 1;
    flex-basis: 70px;
    text-align: center;
    flex-shrink: 0;
}

.step-details {
    flex-grow: 1;
}

.lead {
    color: #777;
}

.content-area > .container:not(:last-child) {
    border-bottom: 1px solid #efefef;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.canvas .img-responsive {
    margin-top: 30px;
}

.link {
    padding: 30px 0 50px;
    color: #1abc9c;
}

.main-cta {
    background-color: #1abc9c;
    color: #fff;
    font-size: 30px;
    transition: all .5s;
    padding: 30px 30px;
    display: block;
}

.main-cta:hover,
.main-cta:focus {
    background-color: #444;
    color: #fff;
}

.main-cta strong {
    position: relative;
    display: inline-block;
}

.main-cta .glyphicon {
    font-size: 23px;
}

.main-cta strong:after {
    content: '';
    border-bottom: 2px solid;
    left: 0;
    right: 0;
    bottom: 1px;
    position: absolute;
}

/* footer */

footer {
    background-color: #333;
    color: #ccc;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

.main-footer {
    padding: 50px 15px;
}

.footer-logo {
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 35px;
    line-height: 1;
}

.list-footer-links,
.list-blog-post {
    margin-top: 20px;
}

.list-footer-links > li {
    margin-bottom: 15px;
    padding-left: 11px;
    background-image: url("../images/widget-link-dark.png");
    background-repeat: no-repeat;
    background-position: center left;
    color: #aaa;
    font-size: 12px;
}

.list-footer-links > li > a:hover {
    color: #1abc9c;
}

.list-blog-post > li {
    margin-bottom: 19px;
    border-bottom: 1px dashed rgba(255,255,255,.1);
    padding-bottom: 14px;
}

.list-blog-post > li:last-child {
    border-bottom: none;
}

.list-blog-post > li .date {
    display: block;
    font-style: italic;
    color: #888;
    font-size: 10px;
    margin-top: 6px;
}

.achievements {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 50px;
}

.achievements strong {
    font-size: 28px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .input-group * {
    border-color: transparent !important;
}

footer .input-group .input-group-addon {
    background-color: #212121;
    color: #888
}

footer .input-group {
    margin-top: 15px;
}

.copyright {
    background-color: #212121;
    padding: 35px 0;
    line-height: 1.1;
    color: #777;
    font-size: 11px;
}

.copyright .text-right {
    padding-top: 10px;
}

/* responsive */

@media (max-width: 767px) {
    .navbar-toggle {
        background-color: #777;
        margin-top: 7px;
    }
    
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    
    .navbar-brand {
        padding: 15px;
        font-size: 24px;
        height: 50px;
    }

    .navbar-nav > li > a,
    .header-jumbotron {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-header {
        border-bottom: 1px solid #efefef;
    }

    .header-jumbotron {
        text-align: center;
    }

    .header-jumbotron .breadcrumb {
        margin-bottom: 0;
        text-align: left !important;
    }

    .highlights article {
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #efefef;
    }

    .highlights,
    .steps-wr {
        padding: 0px 15px;
    }

    .step {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .step:last-child {
        border-bottom: none;
    }

    .canvas .img-responsive {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .main-cta,
    .main-cta .glyphicon {
        font-size: 18px;
    }

    .main-footer > .row > div[class*=col-sm-] {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #3f3f3f;
    }
    
    .achievements > div {
        margin-bottom: 30px;
    }

    .achievements strong {
        margin-bottom: 10px;
    }

    .copyright  div.col-sm-6 {
        text-align: center;
    }
}